<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p class="lead">This website was made using Ruby and Sinatra and D3.js</p>
  <p>Additionally, we used Ruby to write our data generation script. </p>
</div>
