<div class="container">
  <div class="page-header">
    <h1>Comprehensive Beer Data</h1>
  </div>
  <p class="lead">
  We've collected extensive beer data from drinkers around the country. Use the navigation above to explore the 
  raw data, and view the trends we have found. 
</div>
